* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}


/* NAVBAR */
.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  padding: 0px;
  padding-right: 10px;
  margin: 0px;
}

.logo span {
  color: #6b4ce6;
}

.links{
  display: flex;
  list-style: none;
  gap: 6rem;
  align-items: center;
  margin: auto;
  padding-right: 50px;
}

.links a{
  text-decoration: none;
  color: black;
}

.menu{
  display: none;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  padding-right: 40px;
  cursor: pointer;
}


/* MENU OVERLAY */
.menu-list{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6); /* White with 60% opacity */
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
  pointer-events: all;
}

/* ACTIVE MENU */
.menu-list.active{
  visibility: visible;
  opacity: 1;
}

/* CONTENT */
.menu-list ul{
  background: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  max-width: 400px;
  width: 80%;
  list-style: none;
  text-align: center;
  box-shadow: 0 5px 25px rgba(0,0,0,0.3);
}

.menu-list li{
  margin: 15px 0;
}

.menu-list a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 600;

}

.menu-list a:hover{
  color: #6b4c36;
}

body.menu-open{
  overflow: hidden;
  pointer-events: none;
}

/* BODY */
body {
  color: #0d0d0d;
  
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(176, 186, 209, 1) 100%);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 20px 4%;
}



/* HERO */
.hero {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  gap: 32px;
}

.hero-text{
  background: linear-gradient(rgba(27,10,77,0.6), rgba(27,10,77,0.6)), 
                      url('assets/hero.png') center/cover no-repeat;
  padding: 40px;
  border-radius: 12px;              
}

.msg{
  color:white;
  text-align: center;
  padding-top: 40px;
}

.hero-text h1 {

  font-size: 30px;
  margin: 10px 0 18px;
  font-weight: bold;
  
}
span {
  color: #6b4ce6;
}
.info{
  color: #4218eb;
  font-weight: bold;
  margin-left: 10px;
  text-align: center;
  font-size: 25px;
}


.small-txt {
  color: #666;
  font-size: 17px;
}

.features {
  margin: 15px 0;
  list-style: none;
  font-size: 16px;
}

.feature-btn {
  display: inline-block;
  margin-top: 18px;
  padding: 12px 22px;
  background: #111;
  color: #fff;
  border-radius: 0px 10px 0px 0px;
  text-decoration: none;
  font-size: 15px;
}
.feature-btn:hover {
  background: Rgb(100, 42, 222);
  transition: background 0.5s ease-in-out;
}
/*.hero-gallery {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  
  .hero-gallery img {
    width: 100%;
    
  }
  }*/

/* FEATURED EVENTS */
.events-section {
  
}
.featured-events {
  padding-top: 40px;
  margin-bottom: 12px;
}
.events-section h2 {
  font-size: 30px;
  font-weight: bold;
}

.subtitle {
  color: #000000;
  margin-bottom: 32px;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.event-info {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.event-card {
  
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
}
.event-card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.52);
  transition: all 0.5s ease-in, 0.5s ease-out;
}

.event-card img {
  width:100%;
  height:auto;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 12px;
  height: 180px;
  object-fit: cover;
}
.event-card img:hover {
  transform: scale(1.05);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.52);
  transition: all 0.5s ease-in, 0.5s ease-out;
}

.event-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.date {
  font-size: 14px;
  margin-bottom: 12px;
  color: #777;
}

.add-event-btn {
  display: inline-block;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background: #111;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  text-decoration: none;
  width: 30%;

}
.add-event-btn:hover {
  background: Rgb(100, 42, 222);
  transition: background 0.3s ease-in-out;
} 
.testimonials{
  margin-top: 50px;
  text-align: center;
  background: rgb(221, 221, 224);
  
}
.testimonial-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
  
}
.testimonial{
  margin:20px ;
  background:rgb(221, 221, 224);
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.832);
}
.testimonial:hover {
  transform: scale(1.2);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.52);
  transition: all 0.5s ease-in, 0.5s ease-out;
  
}
.testimonial p{
  font-style: italic;
  margin-bottom: 15px;
}
.title{
  font-weight: bold;
  color: #6b4ce6;
  padding-top: 20px;
}
.subtitle1{
  color: #010101;
  font-size: 30px;
}

/* CLOSING MESSAGE */
.closing-message {
  background: linear-gradient(rgba(27,10,77,0.6), rgba(27,10,77,0.6));
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
  font-weight: bold;
}
.closing-message h2 {
  color: black;
  font-size: 28px;
  margin-bottom: 12px;
}
.closing-message p {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-top: 3px solid #faf9f9;
  font-size: 14px;
  color: #666;
}
.icons{
  width: 40px;
  margin-top: 20px;
  font-size: 24px;
  margin: 10px;
  
}

@media(max-width: 800px){
  .links{
    display: none;
  }

  .menu{
    display: flex;
  }
}